<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<title>Publish Management System</title>

<style>

body{
font-family: Arial;
text-align:center;
margin-top:80px;
}

.container{
width:400px;
margin:auto;
}

a{

display:block;

margin:15px;

padding:15px;

background:#2c3e50;

color:white;

text-decoration:none;

border-radius:8px;

}

a:hover{

background:#34495e;

}

</style>

</head>

<body>

<div class="container">

<h1>Publish Management System</h1>

<p>Spring Boot + PostgreSQL + Docker Project</p>

<a href="/authors">Manage Authors</a>

<a href="/books">Manage Books</a>

<a href="/publishes">Manage Publishes</a>

</div>

</body>
</html>